word_threshold = 1

base_path = 'output/v2/model.CI.1'
vocab_path = f'output/v2/vocabs.CI.word_threshold={word_threshold}.txt'

train_paths = ['data/deepbank.train']
dev_path = 'data/deepbank.dev'

max_steps = 80000
log_frequency = 50
checkpoint_frequency = 500
num_old_checkpoints = 0

hyper_params.bucket.batch_item_count = 5000
hyper_params.word_threshold = word_threshold

hyper_params.pretrained_encoder.type = 'bert'
hyper_params.pretrained_encoder.bert_options.bert_path = '../../../data/bert/bert-base-cased'
hyper_params.pretrained_encoder.bert_options.subword_separator = None
hyper_params.pretrained_encoder.bert_options.project_to = 500

hyper_params.sentence_embedding.word_size = 500
hyper_params.sentence_embedding.char_size = 0
hyper_params.sentence_embedding.mode = 'add'
hyper_params.sentence_embedding.use_layer_norm = False

hyper_params.encoder.type = 'lstm'
hyper_params.encoder.lstm_options.num_layers = 2
hyper_params.encoder.lstm_options.hidden_size = 500

hyper_params.optimizer.type = 'adamw'

hyper_params.hidden_sizes = [512]
hyper_params.mlp_dropout = 0.33
hyper_params.use_crf = False

hyper_params.advanced_learning.lr_reduce_method = 'cosine_with_hard_restarts'
hyper_params.advanced_learning.restart_cycles = 2

del word_threshold