import_config('CI.v1.config')

base_path = 'output/v1/model.CI.1.transformer'
max_steps = 80000

hyper_params.encoder.type = 'transformer'
hyper_params.encoder.transformer_options.num_layers = 6
hyper_params.encoder.transformer_options.num_heads = 8
hyper_params.encoder.transformer_options.timing_method = 'sinusoidal'
hyper_params.encoder.transformer_options.d_kv = 64
hyper_params.encoder.transformer_options.d_ff = 2048
hyper_params.encoder.transformer_options.attention_dropout = 0.1
hyper_params.encoder.transformer_options.residual_dropout = 0.1

hyper_params.optimizer.lookahead_step = 5

hyper_params.optimizer.adamw_options.lr = 1e-3

hyper_params.advanced_learning.clip_grad_norm = 1

hyper_params.advanced_learning.lr_reduce_method = 'cosine_with_hard_restarts'
hyper_params.advanced_learning.restart_cycles = 4