import_config('RD.config')

base_path = 'output/v1/model.RD.1.transformer.clip_norm'
max_steps = 80000

hyper_params.bucket.batch_item_count = 1000

hyper_params.encoder.type = 'transformer'
hyper_params.encoder.transformer_options.num_layers = 6
hyper_params.encoder.transformer_options.num_heads = 8
hyper_params.encoder.transformer_options.timing_method = 'sinusoidal'
hyper_params.encoder.transformer_options.d_kv = 64
hyper_params.encoder.transformer_options.d_ff = 2048
hyper_params.encoder.transformer_options.d_positional = 500
hyper_params.encoder.transformer_options.attention_dropout = 0.1
hyper_params.encoder.transformer_options.residual_dropout = 0.1

hyper_params.optimizer.lookahead_step = 5

hyper_params.advanced_learning.clip_grad_norm = 1
